---
import Layout from "@/layouts/Layout.astro";

const pin = Astro.cookies.get("pin")?.value;
    
async function fetchJsonData(url) {
    try {
        const response = await fetch(url);
        if (!response.ok) {
            throw new Error("Error en el fetch");
        }

        return await response.json();
    } catch (error) {
        console.error("Error:", error);
        return [];
    }
}


const userData = await fetchJsonData(
    "https://contactocoahuila.purpuraamerida.com/atencion/boletas/validaPin/" +
        pin,
);
console.log(userData);


const municipios = await fetchJsonData(
    "https://contactocoahuila.purpuraamerida.com/atencion/boletas/municipios",
);
console.log(municipios);

const tipoBoleta = await fetchJsonData(
    "https://contactocoahuila.purpuraamerida.com/atencion/boletas/tipoBoleta",
);
console.log(tipoBoleta);
---

<Layout title="Captura boletas">
    <style>
        body {
            background-color: #f3f4f6;
        }
    </style>
    <button class="hidden" id="validarSesion"></button>

    <div class="bg-gray-100 p-4 flex flex-col">
        <a class=" bg-red-500 text-white p-2 text-center ml-[80vw] cursor-pointer" id="logout">Cerrar Sesión</a>
        <h1 class="text-3xl font-bold text-center mb-2">Captura de boletas</h1>
        <div class="w-full flex justify-center">
            <div class="grid grid-cols-3 gap-10">
                <div>
                    <label class="text-2xl font-bold">Usuario:</label>
                    <h1 class="text-2xl ">{userData.nombre}</h1>
                </div>
                <div>
                    <label class="text-2xl font-bold">PIN:</label>
                    <h1 class="text-2xl">{pin}</h1>
                </div>
                <div>
                    <label class="text-2xl font-bold">Boletas Capturadas:</label>
                    <h1 class="text-2xl f">{userData.subidas}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="p-4 flex justify-center items-center">
            <div class="grid md:grid-cols-2 gap-4">
                <div>
                    <label for="municipio" class="text-2xl font-bold">Municipio:</label>
                    <select name="municipio" id="municipio" class="w-full p-2">
                        <option value="">Selecciona un municipio</option>
                        {municipios.map((municipio) => (
                            <option value={municipio.id}>{municipio.municipio}</option>
                        ))}
                    </select>
                </div>
                <div>
                    <label for="tipoBoleta" class="text-2xl font-bold">Tipo de boleta:</label>
                    <select name="tipoBoleta" id="tipoBoleta" class="w-full p-2">
                        <option value="">Selecciona un tipo de boleta</option>
                        {tipoBoleta.map((tipo) => (
                            <option value={tipo.id}>{tipo.tipo_boleta}</option>
                        ))}
                    </select>
                </div>
                <div class="mt-8 justify-center items-center hidden">
                    <button id="partidos" class="bg-purple-950 text-white p-2 rounded">Seleccionar</button>
                </div>
            </div>
    </div>

    <div class="p-4 justify-center items-center text-center pb-4 min-h-screen">
        <div id="formulario" class="grid md:grid-cols-5 gap-4 text-center">
        </div>
        <div class="hidden mt-4 mb-4" id="folioInput">
            <label for="folio" class="text-xl font-bold">FOLIO:</label>
            <input required class="border border-gray-400 bg-gray-200 text-center" name="folio" id="folio"></input>
            </div>
        <button id="guardar" class="bg-purple-950 text-white p-2 rounded hidden">Guardar</button>
    </div>
</Layout>

<script src="@/scripts/boletas.js"></script>